* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 80%;
    height: 500px;
    border: 1px solid #000;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-color: #cad6ff;
    border-bottom: 20px solid #e9852f;
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    /* left: 120px; */
    animation: pipe-anaimation 1.5s infinite linear;
}

.luigi {
    width: 150px;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.jump {
    animation: jump 500ms infinite ease-out;
}


img.luigi.game-over {
    width: 180px;
    height: 180px;
    border-radius: 200px;
    border: 11px solid #0cd52e;
    background: #fff;
}

button.btn-start {
    margin: 6rem auto 0 auto;
    text-align: center;
    display: block;
    width: 10rem;
    padding: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 800;
    color: #147603;
    background: #fff;
    border: none;
    box-shadow: 0.5rem 0.5rem 0.2rem #0000004a;
    cursor: pointer;
    opacity: 0;
    position: relative;
    z-index: 1;
}

button.btn-start.active {
    opacity: 1;
}


img.clouds {
    width: 10rem;
    position: absolute;
    top: 20px;
    right: 10px;
    animation: clouds-animation 1.5s infinite linear;
}

@keyframes clouds-animation {
    from {
        right: -20%;
    }

    to {
        right: 100%;
    }
}

@keyframes pipe-anaimation {
    from {
        right: 0;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}
